<h1 class="display-4">Categorias |
    <small class="display-4">Listagem |</small>
    <small class="display-4">Cadastro</small>
</h1>

<div class="jumbotron">
    <div class="col-md-6">
        <div class="form">
            <div class="form-group ">
                <h1>Cadastro de Categoria</h1>
                <h3>Categoria:</h3>
                <input class="form-control" ng-model="categoria.description">
            </div>
            <button class="btn btn-success" ng-click="cadastroDeCategoria(categoria)">Salvar</button>
        </div>
    </div>
</div>

